<div class="tabs-target" id="main">
  <div class="row">
    <div class="col-desktop-12">
      <section class="o-pane--green match-heights">
        <header>
          <span class="o-pane__dot"></span>
          <h2>Main</h2>
        </header>
        <div class="o-pane__contents">
          <ul class="o-menu__links">
            <li>
              <a href="#">Users</a>
            </li>
            <li>
              <a href="#">Content</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
