<div class="col-desktop-3">
  <nav class="o-menu">
    <!-- logo -->
    <%- include('logo'); %>
    <ul class="o-menu__links">
      <li>
        <!-- Main shows links to content and users -->
        <a class="main" href="#main">Main</a>
      </li>
      <li>
        <!-- shows user indes -->
        <a class="users" href="#users">Users</a>
      </li>
      <li>
        <!-- shows content index -->
        <a class="content" href="#content">Content</a>
      </li>
    </ul>
  </nav>
</div>
