<div class="col-desktop-3">
  <nav class="o-menu">
    <!-- logo -->
    <%- include('logo'); %>
    <ul class="o-menu__links">
      <li>
        <a class="is-active" href="#main">Main</a>
      </li>
      <li>
        <a href="#analytics">Analytics History</a>
      </li>
      <li>
        <a href="#report">New Report</a>
      </li>
    </ul>
  </nav>
</div>
