<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <h2><a href="/mockup">Mockup</a></h2>
  <h2><a href="https://github.com/smtlb/ContentIntentDashboard">GitHub</a></h2>
</body>

</html>
