<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='../stylesheets/main.css' />
</head>

<body>
  <header class="o-header">
    <a class="o-header__title" href="/">ContentIntent</a>
  </header>
  <hr>
  <main>
    <h1><%= title %></h1>
    <% for (let user of users) { %>
      <a href="#">
        <h2> <%= user.namify() %> </h2>
      </a>
    <% } %>
  </main>
</body>

</html>
