<!-- <div class="tabs-target is-active" id="#<%=content._id%>"> -->
  <div class="row">
    <div class="col-desktop-12">
      <section class="o-pane--yellow">
        <header>
          <span class="o-pane__dot"></span>
          <h2>Overview</h2>
        </header>
        <nav>
          <a class="is-active purchase">Purchase<br>Intent</a>
          <a class="is-active favorability">Brand<br>Favorability</a>
        </nav>
        <div class="o-pane__contents">
          <div class="row">
            <div class="right">
              <select>
                <option>Today</option>
                <option>Tomorrow</option>
                <option>Someday</option>
              </select>
            </div>
          </div>
          <canvas id="overview-graph">
          </canvas>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-desktop-small">
      <section class="o-pane--blue match-heights">
        <header>
          <span class="o-pane__dot"></span>
          <h2>Analytics</h2>
        </header>
        <div class="o-pane__contents">
          <h1>March 16, 2016</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
        </div>
      </section>
    </div>
    <div class="col-desktop-large">
      <section class="o-pane--green match-heights">
        <header>
          <span class="o-pane__dot"></span>
          <h2>Trends</h2>
        </header>
        <div class="o-pane__contents">
          <div class="trends-container">
            <canvas id="trends-graph">
            </canvas>
          </div>
          <p class="center">Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
      </section>
    </div>
  </div>
</div>
