<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index: Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#1b2325">
    <link rel="stylesheet" href="../dist/assets/stylesheets/main.css">
  </head>
  <body>
    <!-- logo -->
    <%- include('../partials/logo'); %>
    <div class="o-header__title">
      <div class="col-desktop-8">
        <table>
          <tr>
            <th id="users">Users</th>
          </tr>
          <% for (let user of users) { %>
            <tr>
              <td>
                <a href="/users/<%=user._id%>">
                  <%=user.name%>
                </a>
              </td>
            </tr>
            <% } %>
          </table>
      <!-- header -->
      <!-- chart -->
      <!-- analytics -->
      <!-- report -->
      </div>
    </div>
    <!-- <script src="../dist/assets/javascript/main.js">
    </script> -->
  </body>
</html>
