<div class="col-desktop-3">
  <nav class="o-menu">
    <!-- logo -->
    <%- include('../partials/logo'); %>
    <ul class="o-menu__links">
      <li>
        <a class="is-active" href="#index">Index</a>
      </li>
      <li>
        <a href="#new">New</a>
      </li>
      <li>
        <a href="#edit">Edit</a>
      </li>
      <li>
        <a href="#remove">Remove</a>
      </li>
    </ul>
  </nav>
</div>
