<div class="tabs-target" id="users">
  <div class="row">
    <div class="col-desktop-12">
      <section class="o-pane--blue match-heights">
        <header>
          <h2>Users</h2>
        </header>
        <div class="o-pane__contents">
          <ul>
            <%# for (let user of users) { %>
              <li>
                <a href="<%#user._id%>">
                  <%#user.name%>
                </a>
              </li>
            <%# } %>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
