<div class="tabs-target" id="users">
  <div class="row">
    <div class="col-desktop-12">
      <section class="o-pane--blue match-heights">
        <header>
          <span class="o-pane__dot"></span>
          <h2>Users</h2>
        </header>
        <div class="o-pane__contents">
          <a href="/users"><h1>User Index</h1></a>
          <a href="<%#user._id%>"><h1>Find User</h1></a>
          <a href="<%#user._id%>"><h1>New User</h1></a>
          <a href="<%#user._id%>"><h1>Edit User</h1></a>
          <a href="<%#user._id%>"><h1>Remove User</h1></a>          
        </div>
      </section>
    </div>
  </div>
</div>
